{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>{% block title %}pureba de documento{% endblock %}</title>
    </head>

    <body>
        <nav>
            {% block navbar %}
                <div>
                    <ul class="nav navbar-nav">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="{% url 'blog:home' %}">Blog</a></li>
                    <li><a href="#">Inicio</a></li> 
                    </ul>
                </div>
            {% endblock %}
        </nav>
        <div class="container">
        {% block content %}

        {% endblock %}
        </div>
        <br>
        <footer>
            <p> Gracias por visitarnos!! </p>
        </footer>
    </body>
</html>